<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add name="test2" connectionString="(local);database=Core;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <add name="cquentia" connectionString="server=devhost1;user id=root;password=root;database=cquentia" providerName="" />
    <add name="test" connectionString="server=devhost1;user id=root;password=root;database=UF2" providerName="" />
    <add name="htl.dbexpression.mssql" connectionString="server=localhost;initial catalog=TestData;integrated security=true" providerName="System.Data.SqlClient" />
    <!--<add name="test" connectionString="(LocalDB)\\MSSQLLocalDB;database=Core;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>-->
    <add name="HTL.DbExpression.Mongo" connectionString="mongodb://localhost:27017/MyTest" />
    <add name="AP.DashPay" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;database=DashPay;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>