@inherits LayoutComponentBase
@inject GlobalProgressBar ProgressBar

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    @if (ShowProgressBar)
    {
        <MatProgressBar Indeterminate="true"></MatProgressBar>
    }
    else
    {
        <div style="min-height:4px;"></div>
    }

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    private bool ShowProgressBar { get; set; }

    protected override void OnInitialized()
    {
        ProgressBar.ShowProgress += Show;
        ProgressBar.HideProgress += Hide;
    }

    public async Task Show()
    {
        await InvokeAsync(() =>
        {
            ShowProgressBar = true;
            StateHasChanged();
        });
    }

    public async Task Hide()
    {
        await InvokeAsync(() =>
        {
            ShowProgressBar = false;
            StateHasChanged();
        });
    }

    public async Task ProgressChanged(int value)
    {
        await InvokeAsync(() =>
        {
            ShowProgressBar = true;
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        ProgressBar.ShowProgress -= Show;
        ProgressBar.HideProgress -= Hide;
    }

}
