@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/HatTrickLabs/db-ex" target="_blank"><i class="fa-lg fab fa-github"></i></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
