<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="hattrick.dbex.mssql.test" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=MsSqlDbExTest;Integrated Security=true;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>